html, body{
	width: 99%;
	height: 90%;
	background: #dcdcdc;
}

#top_footer{
	background: url(../img/footer-background.jpg);
	height: 110px;
}

#top_footer_zagolovok{
	font-size: 41px;
	text-align: center;
	color: red;
}

#top_footer_time{
	color: aliceblue;
    text-align: right;
    margin-right: 18px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>TOP MENU<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
ul.css-menu-1 {
list-style: none
}

ul.css-menu-1 li {
display: inline
}

ul.css-menu-1 li a {
font-family: Tahoma, Geneva, sans-serif; 
text-decoration: none;
background: #5c6cb7;
font-weight: bold;
color: #ffaa00; 
padding: 6px 10px 6px 10px
}

ul.css-menu-1 li a:hover {
padding: 6px 10px 6px 10px;
font-weight: bold;
background: #364d95;
color: #ff9900 
}

ul.css-menu-1 li a.selected {
background: #364e95
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>END TOP MENU<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
