<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<head>
	<title>NOC Сайт администривания чего мне только приспитчит!!!</title>

	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div id="top_footer">
		<div id='top_footer_zagolovok'>Город никогда не спит</div>
		<div id='top_footer_time'></div>
		<div id='top_menu'>
			<ul class="css-menu-1">
			<li><a href="#">Главная</a></li>
			<li><a href="#">HTML уроки</a></li>
			<li><a href="#">CSS уроки</a></li>
			<li><a href="#">CSS меню</a></li>
			<li><a href="#">Справочник</a></li>
			</ul>
		</div>
	</div>

	<script src="static/js/main.js" rel="stylesheet" type="text/javascript"></script>
	<script type="text/javascript" defer>
            window.onload = App.init;
        </script>
</body>
</html>